<nav>

	<ul class="nav">
		<li>
			<a href="{{path('app_abonnement')}}">Acceuil</a>
		</li>

		<li>
			<a href="#discipline">DISCIPLINE</a>
		</li>
		<li>
			<a href="#planning">PLANNING</a>
		</li>
		

		<li class="logo"><img src="{{ asset('/logo/logoringside.png') }}" alt="">
		</li>

		<li>
			<a href="{{path('app_abonnement')}}">TARIF</a>
		</li>
		<li>
			<a href="{{path('app_abonnement')}}">BOUTIQUE</a>
		</li>

		<li>
			{% if app.user %}

				<div>

					<input type="checkbox" id="checkbox-toggle">

					<label for="checkbox-toggle" class="menu-button">
						<svg class="seo-pages-1xdhyk6" data-testid="IconHamburgerMenu24" fill="" height="50" viewbox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.15 6.85H4.85a.76.76 0 0 1-.75-.75c0-.41.34-.75.75-.75h14.3c.41 0 .75.34.75.75s-.34.75-.75.75m0 5.76H4.85a.76.76 0 0 1-.75-.75c0-.41.34-.75.75-.75h14.3c.41 0 .75.34.75.75s-.34.75-.75.75m0 6.01H4.85a.76.76 0 0 1-.75-.75c0-.41.34-.75.75-.75h14.3c.41 0 .75.34.75.75s-.34.75-.75.75" fill="white" stroke="white" stroke-width="0.5"></path>
						</svg>
						
					</label>

					<section class="menu">
						<div class="clip-path-container">
							<div class="clip-path"></div>
						</div>
						<a href="{{path('app_user_profil_modif_edit')}}">Mon profil</a>
						{% if is_granted('ROLE_COACH') and is_granted('ROLE_ADMIN') == false %}
							<a href="{{ path('app_courses')}}">Gerer mes cours</a>
							<a href="{{ path('app_courses_new')}}">Ajouter des cours</a>

						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_update_role_user_index')}}">Gerer les utilisateurs</a>
							{# <a href="{{ path('app_collective_courses')}}">Gerer les cours collectif</a> #}
						{% endif %}

						<a href="{{path('courses')}}">Planning des cours</a>
						<a href="{{path('app_abonnement')}}">Mon Abonnement</a>
						{# <a href="#">Mes réservations</a> #}
						<a href="{{path('app_logout')}}">Se Deconnecter</a>
					</section>


				</div>
			{% else %}
				<a href="{{path('login')}}">
					<button class="button">SE CONNECTER</button>
				</a>

			{% endif %}

		</li>


	</nav>
