{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<section class="register-form-container">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		{{ form_errors(registrationForm) }}
		<section class="registration-form">
			<h2>Inscription</h2>

			{{ form_start(registrationForm) }}
			<article class="form-group">
				{{ form_row(registrationForm.email) }}
			</article>

			{# {{ form_errors(registrationFoÒrm.email) }} #}

			<article class="form-group">
				{{ form_row(registrationForm.plainPassword )}}
			</article>
			<article class="form-group">
				{{ form_row(registrationForm.userProfil.firstName) }}

			</article>
			<article class="form-group">
				{{ form_row(registrationForm.userProfil.lastName) }}

			</article>
			<article class="form-group">
				{{ form_row(registrationForm.userProfil.phone) }}

			</article>
			<article class="form-group">
				{{ form_row(registrationForm.userProfil.adress) }}

			</article>
			<article class="form-group">
				{{ form_row(registrationForm.userProfil.dateOfBirth) }}

			</article>
			<article class="form-group">
				{{ form_row(registrationForm.userProfil.bio) }}

			</article>
			<article class="form-group">
				{{ form_row(registrationForm.agreeTerms) }}
			</article>
			<article class="form-group">
				<button type="submit" class="btn">Register</button>
			</article>


			{{ form_end(registrationForm) }}
		</section>
	</section>

{% endblock %}
