{% extends 'base.html.twig' %}

{% block title %}Hello CoursesController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.cour)}}
        {{ form_row(form.zone)}}
        {{ form_row(form.heureDebut)}}
        {{ form_row(form.heureFin)}}
        {{ form_row(form.daysOfWeek)}}
        {{ form_row(form.color)}}

        <button type="submit">Ajouter le cour au planning collectif</button>
    {{ form_end(form) }}
{% endblock %}
