{% extends 'base.html.twig' %}

{% block title %}Hello CoursesController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title)}}
        {{ form_row(form.description)}}
        {{ form_row(form.availablePlaces)}}
        {{ form_row(form.zone)}}
        {{ form_row(form.startDatetime)}}
        {{ form_row(form.duration)}}
        <button type="submit">Ajouter le cour</button>
    {{ form_end(form) }}
{% endblock %}
