{% extends 'base.html.twig' %}

{% block title %}Hello CoursesController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title)}}
        {{ form_row(form.description)}}
        {{ form_row(form.nombrePlaceDisponible)}}
        {{ form_row(form.zone)}}
        <button type="submit">Créer le cour</button>
    {{ form_end(form) }}
{% endblock %}
