{% extends 'base.html.twig' %}

{% block title %}Hello zonesController!{% endblock %}

{% block body %}
<style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 100px auto 100px auto;

        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
    <a href="{{ path('app_zones_new') }}">Creer une nouvelle zone</a>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Localisation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       {% for zone in zones %}
        <tr>
            <td>{{ zone.name }}</td>
            <td>{{ zone.description }}</td>
            <td>{{ zone.location }}</td>
            <td><a href="{{ path('app_zones_edit', {'id': zone.id }) }}">Modifier</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
