{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <h1>Modification du mot de passe</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}

    <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
    {{ form_end(form) }}
    {{ form_errors(form) }}

   <div class="blue-form">
                    <h3>Modifier mon mot de passe</h3>
                    {{ form_start(ChangePasswordForm) }}
                    {{ form_row(ChangePasswordForm.currentPassword) }}
                    {{ form_row(ChangePasswordForm.newPassword.first) }}
                    {{ form_row(ChangePasswordForm.newPassword.second) }}
                    <button type="submit" class="nav-button">Modifier mon mot de passe</button>
                    {{ form_end(ChangePasswordForm) }}
                </div>
{% endblock %}
